
body {
  background: url("assets/img/bg.png");
  font-size: 14px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.divider-hor-sm {
  height: 10px;
}
.divider-hor {
  height: 15px;
}
.divider-hor-lg {
  height: 20px;
}

.form-control, .input-group-addon, .btn, .panel {
  border-radius: 0;
}

.row.has-error {
  color: red;
  font-size: 85%;
}
form span.red {
  color: rgba(208, 0, 85, 0.67);
}

@import "components/navbar/navbar";
@import "components/customer-list/customer-list";
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
